<div id="month_title" class="page-header">
  <%= render 'header' %>
</div>
<div id='pie_chart'>
  <%= render 'pie_chart' %>
</div>
<ul class="container pie_table">
  <li class="left">
    <%= prev_link %>
  </li>
  <li class="right">
    <%= next_link %>
  </li>
</ul>
<div id="form_container">
  <%= render 'form' %>
</div>

